
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-KRHLKCRS6B

NEXT_PUBLIC_SUPABASE_URL=https://qgutrcekzdaicxhjtrcx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpa3p4ZWtzZGprYWN1Ym5mbXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MzI0ODIsImV4cCI6MjA4ODEwODQ4Mn0.FiHx-G2tmaCMTn9JkOtUrAHb9ksPCjP6KOXWUbfcehQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpa3p4ZWtzZGprYWN1Ym5mbXRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjUzMjQ4MiwiZXhwIjoyMDg4MTA4NDgyfQ.2AlsK_J5Ckam4nYc8cbcNlGQdxi8awceZX411brmDt4

ADMIN_EMAIL=otgonbatzolboo@gmail.com
RESEND_API_KEY=re_T5fgCVpp_JaGSgdCr4vPghJ4WwyYB4Wai

SMS_API_URL=
SMS_API_KEY=

NEXT_PUBLIC_SITE_URL=https://semjid-rashaan-egk5.vercel.app/